*, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 238, 86);
  height: 100vh;
  max-width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: white;
  height: 90%;
  border-radius: 0 0 3em 3em;
}

.border {
  padding:  3em 2.5em 0 2.5em;
  width: calc(100% - 5em);
  z-index: 9;
  position: fixed;
}

h1 {
  max-width: 100vw;
  margin-bottom: 0.3em;
  font-size: 2.2em;
}

h3 {
  margin: 1em 0 0.5em 0;
  font-weight: 700;
  font-size: 5vw;
}

.h3-2 {
  margin: 1em 0 0 0;
  font-weight: 400;
  font-size: 1em;
}

p {
  font-size: 4.7vw;
}

.p1 {
  margin-bottom: 1em;
}

#camera-notice-1, #camera-notice-2 {
 color: white;
 font-size: 4vw;
 padding: 0.7em 2em;
}


body button {
  font-size: 5vw;
  padding: 0.4em 0;
  width: 7em;
  border-radius: 0.5em;
  border: none;
}

a {
  text-align: center;
  font-size: 5vw;
  padding: 0.4em 0;
  width: 7em;
  border-radius: 0.5em;
  border: none;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.yes-button {
  background-color: rgb(255, 238, 0);
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#webcam-container {
  background-color: black;
  height: 0;
  padding-bottom: 100%;
  z-index: 1;
}

.decoration {
  background-color: rgb(255, 238, 0);
  height: 70%;
  width: 80%;
  clip-path: circle(49.7% at 86% 40%);
  position: absolute;
  right: 0vw;
  z-index: 0;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

#label-container {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 0.4em;
}

.camera-notice-image {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 1em;
}