*, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 238, 86);
  height: 100vh;
  max-width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: white;
  height: 90%;
  border-radius: 0 0 3em 3em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.border {
  padding:  3em 2.5em 0 2.5em;
  width: calc(100% - 5em);
  z-index: 9;
  position: relative;
}

h1 {
  max-width: 100vw;
  margin-bottom: 0.3em;
  font-size: 2.2em;
}

h3 {
  margin: 1em 0 0.5em 0;
  font-weight: 700;
  font-size: 5vw;
}

.h3-2 {
  margin: 1em 0 0 0;
  font-weight: 400;
  font-size: 1em;
}

p {
  font-size: 4.7vw;
}

.p1 {
  margin-bottom: 1em;
}

#camera-notice-1, #camera-notice-2 {
 color: white;
 font-size: 4vw;
 padding: 0.7em 2em;
}


body button {
  font-size: 5vw;
  padding: 0.4em 0;
  width: 7em;
  border-radius: 0.5em;
  border: none;
}

a {
  text-align: center;
  font-size: 5vw;
  padding: 0.4em 0;
  width: 7em;
  border-radius: 0.5em;
  border: none;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.yes-button {
  background-color: rgb(255, 238, 0);
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#webcam-container {
  background-color: black;
  height: 0;
  padding-bottom: 100%;
  z-index: 1;
}

.decoration {
  background-color: rgb(255, 238, 0);
  height: 70%;
  width: 80%;
  clip-path: circle(49.7% at 86% 40%);
  position: absolute;
  right: 0vw;
  z-index: 0;
}

.decoration2 {
  background-color: rgb(255, 196, 0);
  height: 70%;
  width: 80%;
  clip-path: circle(49.7% at 86% 40%);
  position: absolute;
  right: 0vw;
  z-index: 0;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

#label-container {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 0.4em;
}

.camera-notice-image {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 1em;
}

/* infopage */

.loading-image {
  width: 100vw;
  position: absolute;
  right: calc(50% - 50vw);
  top: calc(50% - 70vw);
}

.loading-text {
  text-align: center;
  position: absolute;
  bottom: 15vh;
  width: 15em;
  right: calc(50vw - 7.5em);
}

.shoe {
  position: relative;
  width: 100vw;
}

.border2{
  padding-top: 0
}

.infopage-h1 {
  margin-top: -1em;
}

.price {
  background-color: rgb(255, 238, 0);
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em 0;
}


.price h3 {
  margin: 0 0 0 0.4em;
}

.infopage-div p {
  font-size: 0.8em;
  margin: 1em 0;
}

.infopage-div button {
  text-align: center;
  background-color:  transparent;
}

.flex {
  display: flex;
  justify-content: center;
}

#section2 {
  margin: 4em 0 4em 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bold {
  font-weight: 600;
}

.details {
  background-color: black;
  padding: 0.5em 1em;
  max-width: 60%;
  margin-bottom: 1em;
}

.details h2 {
  color: white;
  font-size: 1.2em;
}

.back {
  background-color: rgb(216, 216, 216);
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
  height: 2.5em;
  margin: 1em 1em;
  border-radius: 6em;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.flip {
 transform: rotate(180deg);
}
